services:
  db:
    image: postgres:17
    env_file: [.env]
    ports: ["${POSTGRES_PORT:-5432}:5432"]
    volumes: [pgdata17:/var/lib/postgresql/data]

  api:
    build: .
    working_dir: /
    env_file: [.env]
    environment:
      PYTHONPATH: /app
      DATABASE_URL: postgresql+asyncpg://app:app@db:5432/app  # only for containers
    depends_on: [db]
    ports: ["${API_PORT}:8000"]
    # command can be left or removed - compose will override CMD from Dockerfile:
    # command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  pgdata17:
